<div class="row mb-5 mt-5">
  <div class="input-group col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
    <input type="text" class="form-control" placeholder="Search a WIL">
    <div class="input-group-append">
      <span class="input-group-text"><i class="now-ui-icons ui-1_zoom-bold"></i></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let item of [1,2,3,4,5,6]; let i = index">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#compact-{{i}}" role="tab" aria-selected="true">
              <i class="now-ui-icons education_paper"></i>
              <span>Compact</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lengthy-{{i}}" role="tab" aria-selected="false">
              <i class="now-ui-icons education_agenda-bookmark"></i>
              <span>Lengthy</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#visuals-{{i}}" role="tab" aria-selected="false">
              <i class="now-ui-icons education_glasses"></i>
              <span>Visuals</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#author-{{i}}" role="tab" aria-selected="false">
              <i class="now-ui-icons users_single-02"></i>
              <span>Author</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content text-center">
          <div class="tab-pane active" id="compact-{{i}}" role="tabpanel">
            <p>What is a pure function in Javascript?</p>
          </div>
          <div class="tab-pane" id="lengthy-{{i}}" role="tabpanel">
            <p> A pure function must pass two tests, first one is that same input should always return same output and the second one is that there should be no side effects of the function such as DOM Querying, HTTP Calls, Changing the Filesystem etc.</p>
          </div>
          <div class="tab-pane" id="visuals-{{i}}" role="tabpanel">
            <p>NONE</p>
          </div>
          <div class="tab-pane" id="author-{{i}}" role="tabpanel">
            <p>
              Posted by Prasheel Soni on 2019-03-28T10:15:00Z
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="fab-btn">
  <button class="btn btn-primary btn-icon btn-round btn-lg" data-toggle="modal" data-target="#myModal" type="button">
    <i class="now-ui-icons ui-1_simple-add"></i>
  </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">What did you learnt today ?</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" value="" placeholder="A compact headline for your WILT" class="form-control">
        </div>
        <div class="form-group">
          <textarea type="text" value="" placeholder="A lengthy description for your WILT" class="form-control" ></textarea>
        </div>
        <div class="form-group">
          <div class="btn btn-primary btn-round" >
          <input type="file">
            <i class="now-ui-icons arrows-1_cloud-upload-94"></i> Upload some Visuals
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
