<div class="row mb-5 mt-5">
  <div class="input-group col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
    <input type="text" class="form-control" placeholder="Search a WIL" (input)="search($event)">
    <div class="input-group-append">
      <span class="input-group-text"><i class="now-ui-icons ui-1_zoom-bold"></i></span>
    </div>
  </div>
</div>

<div class="row m-2">
  <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let item of wilts; let i = index; trackBy: trackWilt">
    <app-wilt-card [item]="item" [i]="i" [savedWilts]="savedWilts"></app-wilt-card>
  </div>
</div>


<div class="fab-btn">
  <button class="btn btn-primary btn-icon btn-round btn-lg" (click)="openModal(create)" type="button">
    <i class="now-ui-icons ui-1_simple-add"></i>
  </button>
</div>
<ng-template #create let-c="close" let-d="dismiss" let-urls="visualUrls">
  <div class="modal-header">
    <h5 class="modal-title text-center">What did you learn today?</h5>
    <button type="button" class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="createForm" (ngSubmit)="onCreateFormSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <input type="text" value="" formControlName="compact" placeholder="A compact headline for your WILT"
          class="form-control">
      </div>
      <div class="form-group">
        <!-- <input type="dropdown" value="" formControlName="category" placeholder="Category of your WILT" class="form-control"> -->
        <select name="cars" formControlName="category" class="dropdown form-control">
          <option value="" disabled selected>Choose a Category</option>
          <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" value="" formControlName="tags" placeholder="Tags for your WILT" class="form-control">
      </div>
      <div class="form-group">
        <textarea type="text" value="" formControlName="lengthy" placeholder="A lengthy description for your WILT"
          class="form-control"></textarea>
      </div>
      <div class="form-group">
        <div class="btn btn-primary btn-round">
          <input type="file" (change)="uploadImage($event)" formControlName="visuals">
          <i class="now-ui-icons arrows-1_cloud-upload-94"></i> Upload some Visuals
        </div>
        <i class="now-ui-icons loader_refresh spin my-auto mx-4" *ngIf="uploading"></i>
      </div>
      <button class="badge d-block badge-default mx-1" *ngFor="let url of visualUrls; let i = index; trackBy: identify">
        {{url.name}}
        <i class="now-ui-icons ui-1_simple-remove" (click)="removeImage(i)"></i>
      </button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="uploading">Create</button>
    </div>
  </form>
</ng-template>
<app-loader *ngIf="loading"></app-loader>
<app-notification [alerts]="alerts"></app-notification>