<div class="profile-page sidebar-collapse">
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('assets/img/bg5.jpg');">
    </div>
    <div class="container">
      <!-- <div class="photo-container">
        <img [src]="user?.profile_image" alt="" class="overlay">
      </div> -->
      <div class="photo-container">
        <img [src]="user?.profile_image" alt="Avatar" class="image">
        <div class="middle form-group" *ngIf="self">
          <div class="btn btn-primary btn-round">
            <input type="file" (change)="onProfileImageChanged($event)">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Change
          </div>
        </div>
      </div>
      <h3 class="title pt-0" [contentEditable]="self" (blur)="onTextFieldChanged($event, 'name')">{{user?.name}}</h3>
      <p class="category" [contentEditable]="self" (blur)="onTextFieldChanged($event, 'headline')">{{ user?.headline }}</p>
      <div class="content">
        <div class="social-description">
          <h2>{{ user?.saved_wilts.length }}</h2>
          <p>WILTS</p>
        </div>
        <div class="social-description">
          <h2>{{ user?.followers.length }}</h2>
          <p>Followers</p>
        </div>
        <div class="social-description">
          <h2>{{ user?.following.length }}</h2>
          <p>Following</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container" *ngIf="!self">
        <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <h3 class="title">About {{ user?.name }}</h3>
      <h5 class="description" [contentEditable]="self" (blur)="onTextFieldChanged($event, 'about')">{{ user?.about }}</h5>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <h4 class="title text-center">{{user?.name}}'s WILTs</h4>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                  <i class="now-ui-icons design_image"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                  <i class="now-ui-icons location_world"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                  <i class="now-ui-icons sport_user-run"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content gallery">
          <div class="tab-pane active" id="home" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row collections">
                <div class="col-md-6">
                  <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                  <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                </div>
                <div class="col-md-6">
                  <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                  <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row collections">
                <div class="col-md-6">
                  <img src="assets/img/bg6.jpg" class="img-raised">
                  <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                </div>
                <div class="col-md-6">
                  <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                  <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="messages" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row collections">
                <div class="col-md-6">
                  <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                  <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                </div>
                <div class="col-md-6">
                  <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                  <img src="assets/img/bg6.jpg" class="img-raised">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>
<app-notification [alerts]="alerts"></app-notification>